CREATE TABLE ##ActualStatus(
	ACTSTATID int NOT NULL,
	NAME nvarchar(100) NOT NULL
) 
CREATE TABLE ##AddressObjectType(
	LEVEL int NOT NULL,
	SCNAME nvarchar(10) NULL,
	SOCRNAME nvarchar(50) NULL,
	KOD_T_ST varchar(4) NOT NULL,
 CONSTRAINT PK_AddressObjectType PRIMARY KEY CLUSTERED 
(
	LEVEL ASC,
	KOD_T_ST ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 
CREATE TABLE ##CenterStatus(
	CENTERSTID int NOT NULL,
	NAME varchar(100) NOT NULL,
 CONSTRAINT PK_CenterStatus PRIMARY KEY CLUSTERED 
(
	CENTERSTID ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 
CREATE TABLE ##CurrentStatus(
	CURENTSTID int NOT NULL,
	NAME nvarchar(100) NOT NULL,
 CONSTRAINT PK_CurrentStatus PRIMARY KEY CLUSTERED 
(
	CURENTSTID ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 
CREATE TABLE ##Del_House(
	POSTALCODE varchar(6) NULL,
	IFNSFL varchar(4) NULL,
	TERRIFNSFL varchar(4) NULL,
	IFNSUL varchar(4) NULL,
	TERRIFNSUL varchar(4) NULL,
	OKATO varchar(11) NULL,
	OKTMO varchar(11) NULL,
	UPDATEDATE smalldatetime NULL,
	HOUSENUM varchar(20) NULL,
	ESTSTATUS int NOT NULL,
	BUILDNUM varchar(10) NULL,
	STRUCNUM varchar(10) NULL,
	STRSTATUS int NULL,
	HOUSEID uniqueidentifier NOT NULL,
	HOUSEGUID uniqueidentifier NOT NULL,
	AOGUID uniqueidentifier NULL,
	STARTDATE smalldatetime NOT NULL,
	ENDDATE smalldatetime NOT NULL,
	STATSTATUS int NULL,
	NORMDOC uniqueidentifier NULL,
	COUNTER int NULL,
	CADNUM varchar(100) NULL,
	DIVTYPE int NULL
) 
CREATE TABLE ##Del_NormativeDocument(
	NORMDOCID uniqueidentifier NOT NULL,
	DOCNAME varchar(500) NULL,
	DOCDATE smalldatetime NULL,
	DOCNUM varchar(20) NULL,
	DOCTYPE bigint NOT NULL,
	DOCIMGID uniqueidentifier NULL,
 CONSTRAINT PK_tmp_Del_NormativeDocument PRIMARY KEY CLUSTERED 
(
	NORMDOCID ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 
CREATE TABLE ##Del_Object(
	AOGUID uniqueidentifier NULL,
	FORMALNAME nvarchar(120) NULL,
	REGIONCODE nvarchar(2) NULL,
	AUTOCODE nvarchar(1) NULL,
	AREACODE nvarchar(3) NULL,
	CITYCODE nvarchar(3) NULL,
	CTARCODE nvarchar(3) NULL,
	PLACECODE nvarchar(3) NULL,
	STREETCODE nvarchar(4) NULL,
	EXTRCODE nvarchar(4) NULL,
	SEXTCODE nvarchar(3) NULL,
	OFFNAME nvarchar(120) NULL,
	POSTALCODE nvarchar(6) NULL,
	IFNSFL nvarchar(4) NULL,
	TERRIFNSFL nvarchar(4) NULL,
	IFNSUL nvarchar(4) NULL,
	TERRIFNSUL nvarchar(4) NULL,
	OKATO nvarchar(11) NULL,
	OKTMO nvarchar(11) NULL,
	UPDATEDATE datetime NULL,
	SHORTNAME nvarchar(10) NULL,
	AOLEVEL int NULL,
	PARENTGUID uniqueidentifier NULL,
	AOID uniqueidentifier NOT NULL,
	PREVID uniqueidentifier NULL,
	NEXTID uniqueidentifier NULL,
	CODE nvarchar(17) NULL,
	PLAINCODE nvarchar(15) NULL,
	ACTSTATUS int NULL,
	CENTSTATUS int NULL,
	OPERSTATUS int NULL,
	CURRSTATUS int NULL,
	STARTDATE datetime NULL,
	ENDDATE datetime NULL,
	NORMDOC uniqueidentifier NULL,
	LIVESTATUS nvarchar(1) NULL,
	CADNUM nvarchar(100) NULL,
	DIVTYPE int NULL,
	OFFNAME_NUM_TYPE int NULL,
	OFFNAME_NUM_NUMBER int NULL,
	OFFNAME_NUM_PREFIX int NULL,
	OFFNAME_NUMBER varchar(20) NULL,
	OFFNAME_PREFIX varchar(20) NULL,
	OFFNAME_NAME varchar(80) NULL,
	CONVERTSTREET nvarchar(50) NULL,
	PLANCODE nvarchar(50) NULL,
 CONSTRAINT PK_Del_Object PRIMARY KEY CLUSTERED 
(
	AOID ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 
CREATE TABLE ##EstateStatus(
	ESTSTATID int NOT NULL,
	NAME nvarchar(50) NOT NULL,
	SHORTNAME nvarchar(50) NULL,
 CONSTRAINT PK_EstateStatus PRIMARY KEY CLUSTERED 
(
	ESTSTATID ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 
CREATE TABLE ##FlatType(
	FLTYPEID bigint NOT NULL,
	NAME varchar(8000) NULL,
	SHORTNAME varchar(8000) NULL,
 CONSTRAINT PK_FlatType PRIMARY KEY CLUSTERED 
(
	FLTYPEID ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 
CREATE TABLE ##House(
	POSTALCODE varchar(6) NULL,
	IFNSFL varchar(4) NULL,
	TERRIFNSFL varchar(4) NULL,
	IFNSUL varchar(4) NULL,
	TERRIFNSUL varchar(4) NULL,
	OKATO varchar(11) NULL,
	OKTMO varchar(11) NULL,
	UPDATEDATE smalldatetime NULL,
	HOUSENUM varchar(20) NULL,
	ESTSTATUS int NULL,
	BUILDNUM varchar(10) NULL,
	STRUCNUM varchar(10) NULL,
	STRSTATUS int NULL,
	HOUSEID varchar(36) NULL,
	HOUSEGUID varchar(36) NULL,
	AOGUID varchar(36) NULL,
	STARTDATE smalldatetime NULL,
	ENDDATE smalldatetime NULL,
	STATSTATUS int NULL,
	NORMDOC varchar(36) NULL,
	COUNTER int NULL,
	CADNUM varchar(100) NULL,
	DIVTYPE int NULL
) 

CREATE NONCLUSTERED INDEX hh1 ON ##House
(
	[HOUSEGUID] ASC,
	[HOUSEID] ASC
)
INCLUDE ( 	[POSTALCODE],
	[IFNSFL],
	[TERRIFNSFL],
	[IFNSUL],
	[TERRIFNSUL],
	[OKATO],
	[OKTMO],
	[UPDATEDATE],
	[HOUSENUM],
	[ESTSTATUS],
	[BUILDNUM],
	[STRUCNUM],
	[STRSTATUS],
	[AOGUID],
	[STARTDATE],
	[ENDDATE],
	[STATSTATUS],
	[NORMDOC],
	[COUNTER],
	[CADNUM],
	[DIVTYPE]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)

CREATE NONCLUSTERED INDEX [hh2] ON ##House
(
	[HOUSEID] ASC,
	[HOUSEGUID] ASC,
	[AOGUID] ASC,
	[STARTDATE] ASC,
	[ENDDATE] ASC
)
INCLUDE ( 	[POSTALCODE],
	[STATSTATUS],
	[NORMDOC],
	[COUNTER],
	[CADNUM],
	[DIVTYPE],
	[UPDATEDATE],
	[HOUSENUM],
	[ESTSTATUS],
	[BUILDNUM],
	[STRUCNUM],
	[STRSTATUS],
	[IFNSFL],
	[TERRIFNSFL],
	[IFNSUL],
	[TERRIFNSUL],
	[OKATO],
	[OKTMO]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
	
	CREATE TABLE ##HouseInterval(
	POSTALCODE varchar(6) NULL,
	IFNSFL varchar(4) NULL,
	TERRIFNSFL varchar(4) NULL,
	IFNSUL varchar(4) NULL,
	TERRIFNSUL varchar(4) NULL,
	OKATO varchar(11) NULL,
	OKTMO varchar(11) NULL,
	UPDATEDATE datetime NOT NULL,
	INTSTART int NOT NULL,
	INTEND int NOT NULL,
	HOUSEINTID uniqueidentifier NOT NULL,
	INTGUID uniqueidentifier NULL,
	AOGUID uniqueidentifier NULL,
	STARTDATE datetime NOT NULL,
	ENDDATE datetime NOT NULL,
	INTSTATUS int NULL,
	NORMDOC uniqueidentifier NULL,
	COUNTER int NOT NULL,
 CONSTRAINT PK_HouseInterval PRIMARY KEY CLUSTERED 
(
	HOUSEINTID ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 
CREATE TABLE ##HouseStateStatus(
	HOUSESTID int NOT NULL,
	NAME varchar(60) NOT NULL,
 CONSTRAINT PK_HouseStateStatus PRIMARY KEY CLUSTERED 
(
	HOUSESTID ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

CREATE TABLE ##IntervalStatus(
	INTVSTATID int NOT NULL,
	NAME varchar(60) NOT NULL,
 CONSTRAINT PK_IntervalStatus PRIMARY KEY CLUSTERED 
(
	INTVSTATID ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

CREATE TABLE ##NormativeDocument(
	NORMDOCID varchar(36) NOT NULL,
	DOCNAME varchar(500) NULL,
	DOCDATE datetime NULL,
	DOCNUM varchar(20) NULL,
	DOCTYPE int NOT NULL,
	DOCIMGID varchar(36) NULL
)

CREATE NONCLUSTERED INDEX nd1 ON ##NormativeDocument
(
	[NORMDOCID] ASC,
	[DOCNAME] ASC,
	[DOCDATE] ASC,
	[DOCNUM] ASC,
	[DOCTYPE] ASC,
	[DOCIMGID] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)

CREATE TABLE ##NormativeDocumentType(
	NDTYPEID bigint NOT NULL,
	NAME varchar(250) NOT NULL,
 CONSTRAINT PK_NormativeDocumentType PRIMARY KEY CLUSTERED 
(
	NDTYPEID ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

CREATE TABLE ##Object(
	AOGUID varchar(36) NULL,
	FORMALNAME nvarchar(120) NULL,
	REGIONCODE nvarchar(2) NULL,
	AUTOCODE nvarchar(1) NULL,
	AREACODE nvarchar(3) NULL,
	CITYCODE nvarchar(3) NULL,
	CTARCODE nvarchar(3) NULL,
	PLACECODE nvarchar(3) NULL,
	STREETCODE nvarchar(4) NULL,
	EXTRCODE nvarchar(4) NULL,
	SEXTCODE nvarchar(3) NULL,
	OFFNAME nvarchar(120) NULL,
	POSTALCODE nvarchar(6) NULL,
	IFNSFL nvarchar(4) NULL,
	TERRIFNSFL nvarchar(4) NULL,
	IFNSUL nvarchar(4) NULL,
	TERRIFNSUL nvarchar(4) NULL,
	OKATO nvarchar(11) NULL,
	OKTMO nvarchar(11) NULL,
	UPDATEDATE datetime NULL,
	SHORTNAME nvarchar(10) NULL,
	AOLEVEL int NULL,
	PARENTGUID varchar(36) NULL,
	AOID varchar(36) NULL,
	PREVID varchar(36) NULL,
	NEXTID varchar(36) NULL,
	CODE nvarchar(17) NULL,
	PLAINCODE nvarchar(15) NULL,
	ACTSTATUS int NULL,
	CENTSTATUS int NULL,
	OPERSTATUS int NULL,
	CURRSTATUS int NULL,
	STARTDATE datetime NULL,
	ENDDATE datetime NULL,
	NORMDOC varchar(36) NULL,
	LIVESTATUS nvarchar(1) NULL,
	CADNUM nvarchar(100) NULL,
	DIVTYPE int NULL,
	PLANCODE nvarchar(50) NULL
) 

CREATE NONCLUSTERED INDEX IndexObject1 ON ##Object
(
	[AOID] ASC,
	[REGIONCODE] ASC,
	[STARTDATE] ASC,
	[ENDDATE] ASC,
	[AOGUID] ASC
)
INCLUDE ( 	
	[FORMALNAME],
	[AUTOCODE],
	[AREACODE],
	[CITYCODE],
	[CTARCODE],
	[PLACECODE],
	[STREETCODE],
	[EXTRCODE],
	[SEXTCODE],
	[OFFNAME],
	[POSTALCODE],
	[IFNSFL],
	[TERRIFNSFL],
	[IFNSUL],
	[TERRIFNSUL],
	[OKATO],
	[OKTMO],
	[UPDATEDATE],
	[SHORTNAME],
	[AOLEVEL],
	[PARENTGUID],
	[PREVID],
	[NEXTID],
	[CODE],
	[PLAINCODE],
	[ACTSTATUS],
	[CENTSTATUS],
	[OPERSTATUS],
	[CURRSTATUS],
	[NORMDOC],
	[LIVESTATUS],
	[CADNUM],
	[DIVTYPE],
	[PLANCODE]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
CREATE NONCLUSTERED INDEX IndexObject2 ON ##Object
(
	[AOID] ASC,
	[REGIONCODE] ASC,
	[STARTDATE] ASC,
	[ENDDATE] ASC,
	[AOGUID] ASC,
	[PARENTGUID] ASC,
	[PREVID] ASC,
	[NEXTID] ASC
)
INCLUDE ( 	
	[FORMALNAME],
	[AUTOCODE],
	[AREACODE],
	[CITYCODE],
	[CTARCODE],
	[PLACECODE],
	[STREETCODE],
	[EXTRCODE],
	[SEXTCODE],
	[OFFNAME],
	[POSTALCODE],
	[IFNSFL],
	[TERRIFNSFL],
	[IFNSUL],
	[TERRIFNSUL],
	[OKATO],
	[OKTMO],
	[UPDATEDATE],
	[SHORTNAME],
	[AOLEVEL],
	[CODE],
	[PLAINCODE],
	[ACTSTATUS],
	[CENTSTATUS],
	[OPERSTATUS],
	[CURRSTATUS],
	[NORMDOC],
	[LIVESTATUS],
	[CADNUM],
	[DIVTYPE],
	[PLANCODE]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
CREATE NONCLUSTERED INDEX IndexObject3 ON ##Object
(
	[AOID] ASC
)
INCLUDE ( 		
	[REGIONCODE],
	[STARTDATE],
	[ENDDATE],
	[AOGUID], 
	[PARENTGUID],
	[PREVID],
	[NEXTID],
	[FORMALNAME],
	[AUTOCODE],
	[AREACODE],
	[CITYCODE],
	[CTARCODE],
	[PLACECODE],
	[STREETCODE],
	[EXTRCODE],
	[SEXTCODE],
	[OFFNAME],
	[POSTALCODE],
	[IFNSFL],
	[TERRIFNSFL],
	[IFNSUL],
	[TERRIFNSUL],
	[OKATO],
	[OKTMO],
	[UPDATEDATE],
	[SHORTNAME],
	[AOLEVEL],
	[CODE],
	[PLAINCODE],
	[ACTSTATUS],
	[CENTSTATUS],
	[OPERSTATUS],
	[CURRSTATUS],
	[NORMDOC],
	[LIVESTATUS],
	[CADNUM],
	[DIVTYPE],
	[PLANCODE]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)

CREATE TABLE ##OperationStatus(
	OPERSTATID int NOT NULL,
	NAME varchar(100) NOT NULL,
 CONSTRAINT PK_OperationStatus PRIMARY KEY CLUSTERED 
(
	OPERSTATID ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

CREATE TABLE ##Room(
	ROOMGUID varchar(50) NULL,
	FLATNUMBER varchar(50) NOT NULL,
	FLATTYPE int NOT NULL,
	ROOMNUMBER varchar(50) NULL,
	ROOMTYPE int NULL,
	REGIONCODE varchar(2) NULL,
	POSTALCODE varchar(6) NULL,
	UPDATEDATE datetime NOT NULL,
	HOUSEGUID varchar(50) NULL,
	ROOMID varchar(50) NOT NULL,
	PREVID varchar(50) NULL,
	NEXTID varchar(50) NULL,
	STARTDATE datetime NOT NULL,
	ENDDATE datetime NOT NULL,
	LIVESTATUS bit NOT NULL,
	NORMDOC varchar(50) NULL,
	OPERSTATUS bigint NOT NULL,
	CADNUM varchar(100) NULL,
	ROOMCADNUM varchar(100) NULL
) 

CREATE TABLE ##RoomType(
	RMTYPEID bigint NOT NULL,
	NAME varchar(8000) NOT NULL,
	SHORTNAME varchar(8000) NOT NULL,
 CONSTRAINT PK_RoomType PRIMARY KEY CLUSTERED 
(
	RMTYPEID ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

CREATE TABLE ##Stead(
	STEADGUID varchar(36) NULL,
	NUMBER varchar(120) NULL,
	REGIONCODE varchar(2) NULL,
	POSTALCODE varchar(6) NULL,
	IFNSFL varchar(4) NULL,
	TERRIFNSFL varchar(4) NULL,
	IFNSUL varchar(4) NULL,
	TERRIFNSUL varchar(4) NULL,
	OKATO varchar(11) NULL,
	OKTMO varchar(11) NULL,
	UPDATEDATE smalldatetime NOT NULL,
	PARENTGUID varchar(36) NULL,
	STEADID varchar(36) NOT NULL,
	PREVID varchar(36) NULL,
	NEXTID varchar(36) NULL,
	OPERSTATUS bigint NOT NULL,
	STARTDATE smalldatetime NOT NULL,
	ENDDATE smalldatetime NOT NULL,
	NORMDOC varchar(50) NULL,
	LIVESTATUS int NOT NULL,
	CADNUM varchar(100) NULL,
	DIVTYPE int NOT NULL,
	COUNTER int NULL
) 

CREATE TABLE ##StructureStatus(
	STRSTATID int NOT NULL,
	NAME nvarchar(50) NOT NULL,
	SHORTNAME nvarchar(50) NULL,
 CONSTRAINT PK_StructureStatus PRIMARY KEY CLUSTERED 
(
	STRSTATID ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) 
) 

