<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="fiasxml.Properties.Settings.ttt2ConnectionString"
            connectionString="Data Source=BUSHMAKINOY\SQLEXPRESS2;Initial Catalog=ttt2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
