<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Fias.Properties.Settings.UNSConnectionString" connectionString="Data Source=BUSHMAKIN;Initial Catalog=UNS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Fias.Properties.Settings.DBF" connectionString="Dsn=wwwww;dbq=C:\USERS\BUSHMAKIN\DOCUMENTS\НОВАЯ ПАПКА\COMPRESSED\FIAS_DBF;defaultdir=C:\USERS\BUSHMAKIN\DOCUMENTS\НОВАЯ ПАПКА\COMPRESSED\FIAS_DBF;driverid=533;fil=dBase 5.0;maxbuffersize=2048;pagetimeout=5" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>